@font-face {
  font-family: "Bodega Sans";
  src: url("../webfonts/BodegaSans_Black.ttf");
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}



body {
  font-family: 'Roboto Slab', serif;
  font-size: 1.6rem;
  line-height: 1.6;
  text-decoration: none;
  background-image: url("../img/bg_body.svg");
  background-color: rgb(68, 68, 68);
  color : white;
}

header {
  background-color: white;
}

.liens {
  font-size: 2em;
  text-align: left;
}

.liens a {
  color: white;
  margin: 3em 1em;

}

.image1 {
  border: solid;
}

a {

}

a:hover,
a:focus,
a:active {
  color: rgb(250, 156, 3);

}

h1, h2, h3, nav {
  font-family: "Bodega Sans";
  font-weight: normal;
}

h1 {
  font-size: 4rem;
}

h2 {

  font-size: 3rem;
  border-top: solid rgb(2, 4, 8);
  border-left: solid rgb(2, 4, 8);
  text-align: left;
  padding: 1rem;
}

h3 {
  font-size: 2.5rem;
  border-bottom: solid rgb(250, 156, 3);
}

img, video {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

header {
  margin : 2rem 5%;
  padding : 2rem;
  background-image: linear-gradient(-20deg, #333 50%,white 50%);
  text-align: center;
}

.banner-nav a {
  display: block;
  margin : 2rem 0;
  text-align: right;
  font-size: 2.5rem;
  color : white;
  text-decoration: none;

}
.banner-nav a:hover {
  color: rgb(250, 156, 3);
}

main {
  text-align: center;
}

section {
  margin : 1rem;
}

.section1 a {
  text-decoration: none;
  color: white;
  background-color: rgb(250, 156, 3);
  padding: 0.5em;

}

.section1 a:hover {
  color: orangered;
}

.container {
  max-width: 1500px;
  margin : auto;
  padding-right: 5%;
  padding-left: 5%;
}

.contrast {
  color: rgb(250, 156, 3);
}


.collection {
  background-color: white;
  color: black;
  margin-top: 2em;
  padding: 2em;
}


footer {
  text-align: center;
  background-color: rgb(68, 68, 68);
  box-shadow: 0rem 0rem 2rem grey;
}

footer a {
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 768px) {

  .banner-nav a {
    padding: 1em;
  }

  .container_banner {
    display: flex;
    justify-content: space-between;

    }

}

@media screen and (min-width: 1024px) {

  .banner-nav a {
    padding: 0;
  }

  .section1 {
    display: flex;
    justify-content: space-between;
  }

  .collection {
    margin: 2em;
  }

  header {
    margin: 0;
  }

  .video  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .video > * {
    flex: 1;
  }


}
