body {
  background-image: url('../images/concrete_seamless.png');
}

.carrousel {
  position: relative;
}

.slider-layout {
  display: flex;
  flex-direction: column;
  float: right;
  margin-top: 1em;
}

.slider-figure {
  display: block;
  position: relative;
  margin: 0;
}

.slider-picture {
  margin-top: 1rem;
  border: 1em solid white;
  border-radius: 1rem;
  box-shadow:5px 5px 3px 3px grey;
  transform: rotate(-5deg);
  height: 500px;

}

figcaption {
  transform: rotate(-5deg);
  text-align: center;
  font-size: 4em;
  font-family: 'Open Sans';
  color: rgb(19, 102, 102);
  font-weight: bold;
  box-shadow: 2px 4px 3px 3px grey;

}

main {
  margin: auto;
  max-width: 1200px;
}

img {
  max-width: 100%;
  height : auto;
  vertical-align: middle;
}

.carrousel > a {
  transform: rotate(-5deg);
  font-size: 1.5em;
  font-family: 'Open Sans';
  color: rgb(19, 102, 102);
  font-weight: bold;
  box-shadow: 2px 4px 3px 3px grey;

}

nav {
  margin-top: 2em;
}

nav > button {
  font-size: 1.5em;
  margin-right: 1em;
  margin-top: 0;
  box-shadow: 5px 3px 3px grey;
  color: grey;
  background-color: white;
}

h1 {
  text-align: center;
  padding: 1em;
  font-size: 2em;
  font-family: 'Open Sans';
  color: rgb(19, 102, 102);
  font-weight: bold;
  box-shadow: 2px 4px 3px 3px grey;
}
.none {
  display: none;
}
.dots_commands  {
  transform: rotate(-5deg);
	padding:0;
	margin:32px 0 0;
	text-align: center;

}
.dots_commands li {
	display: inline;
	padding:0; margin:0;

}
.dots_commands a {
	position: relative;
	display: inline-block;
	height:8px;
  width: 8px;
	margin: 0 5px;
	text-indent: -9999px;
	background: #fff;

	border-radius: 50%;
	box-shadow: 0 1px 2px rgba(0,0,0,0.55) inset;

}
/* quelques styles au focus */
.dots_commands a:focus {
	outline: none;
	background: orange;
}

.dots_commands li:first-child a { z-index: 25; }

.dots_commands a.js-dots-color {
  outline: none;
  background: orange;
}

.animation {
  animation: tada infinite 4s;
}

@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.tada {
  -webkit-animation-name: tada;
  animation-name: tada;
}

/* originally authored by Nick Pettit - https://github.com/nickpettit/glide */

@-webkit-keyframes wobble {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
    transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
  }

  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
    transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
  }

  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
    transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
  }

  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
    transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
  }

  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
